<h3>
  Total revenue: $<%= @total_revenue %>
</h3>
  
<br>
	 
<table>
  <thead>
    <tr>
      <th>Purchaser</th>
	  <th>Item</th>
      <th>Price</th>
	  <th>Merchant</th>
      <th>Merchant Address</th>
	  <th>Purchase count</th>
	  <th>Total Revenue</th>	  
      <th colspan="3"></th>
    </tr>
  </thead>
  

  <tbody>     
	 <% @purchases.each do |purchase| %>
      <tr>
		<td><%= purchase.purchaser.name %></td>
	    <td><%= purchase.item.description %></td>
        <td><%= purchase.item.price %></td>
	    <td><%= purchase.merchant.name %></td>
        <td><%= purchase.merchant.address %></td>
	    <td><%= purchase.purchase_count %></td>
        <td><%= purchase.item.price * purchase.purchase_count %></td>	  
      </tr>
    <% end %>
  </tbody>
</table>
